#shader {
	/* make the body fits our viewport */
	position: relative;
	width: 50%;
	height: 100vh;
	margin: 0;

	/* hide scrollbars */
	overflow: hidden;
}

#canvas {
	height: 85vh;
	min-height: 70vh;
	max-height: 100vh;
	width: 100%;
	background: transparent;
	position: absolute;
	/* z-index: -1000000; */
}
.plane {
	width: 50%;
	max-width: 1200px;
	margin: 5vh auto;
}

.plane img {
	display: none;
}
